body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Kalam', cursive;
  font-weight: 400;
  line-height: 1.8 em;
  color: rgb(26, 21, 21)
}
.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*fixed = parallax
  scroll = normal*/
  background-attachment: fixed;
}
.pimg1{
  background-image: url('./Images/tamisBakes4.jpeg');
  min-height: 100%;
}
.pimg2{
  background-image: url(Images/tamisBakes5.jpeg);
  min-height: 400px;
}
.pimg3{
  background-image: url(Images/tamisBakes7.jpeg);
  min-height: 400px;
}
.section{
  text-align: center;
  padding: 0 px 0 px;
  text-decoration-color: #000;
}
.section-light{
  background-color:rgb(255,228,225);
  color: rgb(28, 24, 31);
}
.section-dark{
  background-color:rgb(255,228,225);

}
.h2{
  align-self: center;
}
.h1{
  align-content: center;
}
.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase; 
}
.ptext.border{
  background-color: blueviolet;
  color: #fff;
  padding: 20px;
}
.ptext.border.trans{
  background-color: transparent;
}

@media(max-width: 568px){
  .h1, .h2, .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }
}